:root {
  --primary-color: teal;
  --secondary-color: #333;
  --spacing: 0.2em;
  --padding: 0.5em;
  --margin: 0.5em;
  --border-radius: 1em;
}
* {
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  font-weight: 900;
}
input,
button {
  color: var(--primary-color);
}
body,
html {
  margin: 0;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
body {
  padding: var(--padding);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding);
}
.container--input {
  position: absolute;
  left: 0;
  right: 0;
  bottom: var(--padding);
}
.header {
  user-select: none;
  letter-spacing: 0.1em;
  text-decoration: underline;
  position: absolute;
  opacity: 0.2;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%) scale(2);
  margin: 0 auto;
  padding: 0 16px;
  text-align: center;
}
.form {
  width: 100%;
  display: flex;
}
.form * {
  margin: var(--margin);
}
.form input {
  padding: var(--padding);
  width: 100%;
  border-radius: var(--border-radius);
  box-shadow: 0em 0.2em 1em 0.05em var(--primary-color);
  background-color: var(--secondary-color);
  outline: none;
  border: 1px dashed var(--primary-color);
}
.form input:focus {
  border: 1px solid var(--primary-color);
}
.btn {
  max-width: 200px;
  text-transform: uppercase;
  padding: 0.5em;
  width: 100%;
  border-radius: var(--border-radius);
  background-color: var(--secondary-color);
  color: var(--primary-color);
  box-shadow: 0em 0.2em 1em 0.05em var(--primary-color);
  outline: none;
  transition: 300ms all;
  border: 1px dashed var(--primary-color);
}
.btn:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}
.messages {
  box-shadow: 0em 0.02em 0.1em 0.01em var(--primary-color);
  border-radius: var(--border-radius);
  height: 80vh;
  padding: var(--padding);
  min-width: 90vw;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.message {
  border-radius: var(--border-radius);
  box-shadow: 0em 0.02em 0.1em 0.01em var(--primary-color);
  padding: var(--padding);
  margin: var(--margin);
  opacity: 0;
  transition: all 300ms;
}
.message.visible{
  border-radius: var(--border-radius);
  box-shadow: 0em 0.02em 0.1em 0.01em var(--primary-color);
  padding: var(--padding);
  margin: var(--margin);
  opacity: 1;
}
